<div class="intro_wrapper" (swipeleft)="swipeLeft()" *ngIf="!isShifted && know_less" [@combinedAnimation]="currentAnimation">
    <div class="intro">
        <div class="welcome">
            <h2 id="hey">Hey Buddy,</h2>
            <div class="name">
                <h1 id="im">I'm</h1>
                <h1 id="name">Josh</h1>
            </div>
            <h2 id="message">An Application Software Developer</h2>
            
        </div>
        
        <div class="link_icons">
            <a href="https://www.github.com/joshuakjohn" target="_blank"><mat-icon svgIcon="github" class="svg_link"></mat-icon></a>
            <a href="https://www.linkedin.com/in/joshuakjohn" target="_blank"><mat-icon svgIcon="linkedin" class="svg_link"></mat-icon></a>
            <a href="https://www.instagram.com/joshua_k_john" target="_blank"><mat-icon svgIcon="instagram" class="svg_link"></mat-icon></a>
        </div>
        <button class="know_more_mobile" *ngIf="know_less && !isShifted" (click)="know_more_click()" [@combinedAnimation]="currentAnimation">About me</button>
        <div id="swipe">
            <p>swipe</p>
            <mat-icon>arrow_back</mat-icon>
        </div>

    </div> 
</div>   

<button class="know_more_button" *ngIf="know_less && !isShifted" (click)="know_more_click()" [@combinedAnimation]="currentAnimation">About me</button>
<div class="profile" [class.grow]="know_more" *ngIf="!know_less" [@combinedAnimation]="currentAnimation">
    <div class="inner" *ngIf="know_moreee" [@combinedAnimation]="'fade'"></div>
  </div>

<div class="know_more">
     <div class="imageandicon">

        <mat-icon @slideInOut id="left_icon" svgIcon="right-arrow" *ngIf="know_moreee" (click)="know_more_click()"></mat-icon>
     </div>
    
    <div class="info" *ngIf="know_moreee" [@combinedAnimation]="'fade'" (swipedown)="swipeDown()">
        <div class="info_content">
            <h1>Joshua K John</h1>
            <p id="about">👋 Hi, I'm a passionate Software Developer from Kerala, India. I specialize in building robust and scalable web applications using the MEAN stack (MongoDB, Express.js, Angular, Node.js).<br><br>
            With a solid foundation in Core Java and SQL, I enjoy solving real-world problems through clean code, efficient algorithms, and modern development practices. Whether it's front-end design or back-end logic, I love creating end-to-end solutions that make an impact.<br><br>
            I'm always eager to learn new technologies, improve my skills, and contribute to exciting projects. Let's build something awesome together!</p>
            <p id="about_mobile">👋 Hi, I'm a passionate Software Developer from Kerala, India. I specialize in building robust and scalable web applications using the MEAN stack (MongoDB, Express.js, Angular, Node.js).<br>
            With a solid foundation in Core Java and SQL, I enjoy solving real-world problems through clean code, efficient algorithms, and modern development practices. Whether it's front-end design or back-end logic, I love creating end-to-end solutions that make an impact.<br>
            I'm always eager to learn new technologies, improve my skills, and contribute to exciting projects. Let's build something awesome together!</p>
        </div>
    </div>
</div>
<div @slideDownInOut id="swipeDown" *ngIf="know_moreee">
    <p>swipe to close</p>
    <mat-icon>arrow_back</mat-icon>
</div>
    
<div *ngIf="isShifted" @slideRightInOut class="right_viewport" (swiperight)="swipeRight()">
    <div class="right_content">
        <div>
            <h1 id="skills">Skills</h1>
        </div>
        <div class="icons">
            <app-skill-icons></app-skill-icons>
        </div>
        
    </div>

</div>
<div @slideRightInOut id="swipeRight" (swiperight)="swipeRight()" *ngIf="isShifted">
    <mat-icon>arrow_back</mat-icon>
    <p>swipe</p>
</div>


<div class="right-arrow-outer-wrapper" [class.left_arrow_outer_wrapper]="isShifted">
    <div class="right-arrow-wrapper" [class.left_arrow_wrapper]="isShifted">
        <div>

        </div>
        <div>
            <button *ngIf="know_less" class="right-arrow" (click)="right_arrow_action()" [class.left_arrow]="isShifted">
            <mat-icon svgIcon="right-arrow"></mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="swiper" (swipeleft)="swipeLeft()" (swiperight)="swipeRight()" (swipedown)="swipeDown()">

</div>